@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {

  &.container {
    overflow: hidden; /* Allow content to overflow outside the padding */
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.arena {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 5em;
    border: 10px solid white;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.teammates-container {
  display: flex;
  justify-content: space-around; // Align children to the bottom
  align-items: flex-start; // Center children horizontally (optional)
  width: 100vw;
  height: 225px;

  .teammate-box {
    display: flex;
    position: relative; // I had to add this so that the counter can use position absolute
    flex-direction: column;
    align-items: center;  // Center-aligns the webcam and matehand vertically
    width: 225px;
    margin: 0 0.5%;  // Optional margin for spacing between containers
  }

  .webcam-container {
    width: 225px;
    height: 225px;
    background-color: grey;  // Just for visibility
    border: 2px solid $lila;  // Adds a black border
    border-radius: 50%;  // Makes the container round
    z-index: 1;
    display: flex;
    align-items: center;  // Centers the content vertically
    justify-content: center;  // Centers the content horizontally
    overflow: hidden;  // Ensures no overflow of content outside the border
  }



  .player-name {
    color: white;  // Makes the text white
    margin-top: 10px;  // Space between the video container and the name
  }

  .matehand-container {
    width: 100%;  // Full width to match the webcam container above
    margin-top: -5vh;
    z-index: 2;
  }
}

.shametoken-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 20%;
  right: -12%;
  z-index: 2;
}


.game-arena-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45vh;
  background-color: transparent;//rgba(255, 0, 0, 0.42);

  &.table {
    background-image: radial-gradient(#626262, black);
    width: 80vw;
    height: 57vh;
    border-radius: 1vw;
    z-index: -1;
    box-shadow:
            0 0 1vw 0.5vh rgba(255, 255, 255, 0.5), /* Outer glow */
            inset 0 0 1vw 0.5vh rgba(255, 255, 255, 0.5); /* Inner glow */

    @keyframes blink-success {
      0%, 100% {
        box-shadow: 0 0 1vw 0.5vh rgba(255, 255, 255, 0.5), inset 0 0 1vw 0.5vh rgba(255, 255, 255, 0.5);
      }
      50% {
        box-shadow: 0 0 1vw 1.25vh $lila, inset 0 0 1vw 1.25vh $lila;
      }
    }
    &.blink-success {
      animation: blink-success 0.5s ease-out;
    }

    @keyframes blink-failure {
      0%, 100% {
        box-shadow: 0 0 1vw 0.5vh rgba(255, 255, 255, 0.5), inset 0 0 1vw 0.5vh rgba(255, 255, 255, 0.5);
      }
      50% {
        box-shadow: 0 0 1vw 1.25vh $pink, inset 0 0 1vw 1.25vh $pink;
      }
    }
    &.blink-failure {
      animation: blink-failure 0.5s ease-out;
    }
  }
  &.table-border {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 85vw;
    height: 65vh;
    box-shadow:
            0 0 1vw 0.5vh rgba(255, 255, 255, 0.15), /* Outer glow */
            inset 0 0 1vw 0.5vh rgba(255, 255, 255, 0.15); /* Inner glow */
    border-radius: 1vw;
  }
}

.pov-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 25vh;
  background-color: transparent;//rgba(0, 0, 255, 0.46);

  &.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: transparent;//rgba(255, 20, 147, 0.33);
  }
  &.my-webcam {
    width: 225px;
    height: 225px;
    border: 2px solid $lila;  // Adds a black border
    border-radius: 50%;  // Makes the container round
    z-index: 1;
    display: flex;
    align-items: center;  // Centers the content vertically
    justify-content: center;  // Centers the content horizontally
    overflow: hidden;  // Ensures no overflow of content outside the border
    background-color: gray;
    margin-bottom: 1em;
  }
}

.my-webcam-and-control-box {
  position: absolute;
  bottom: 4em;
  right: 5em;
  display: grid;

}

.control-box {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.button-mute {
  cursor: pointer;

}
.button-unmute {
  cursor: pointer;
}

.button-cockpit {
  cursor: pointer;
  margin-top: 3vh;
  width: 2.5vw;
}

.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $accent;
  }
}

.cockpit {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 6vw;
  height: 35vh;
  border: $grey 1px solid;
  background-color: black;
  border-radius: 0.75em;
  box-shadow: $dropShadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 2em;
}

.cockpit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.confetti-container {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust based on your needs */
  overflow: visible; /* Keeps overflowing parts hidden */
}

.confetti-emoji {
  position: absolute;
  bottom: 0; /* Start at the bottom of the container */
  width: 100px; /* Set the size of the emoji */
  animation: floatUp 4s ease-in-out infinite;
  /* You can add multiple emojis with varying animation delays to create a continuous effect */
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  40%, 100% {
    transform: translateY(-40vh) scale(0.75) rotate(360deg); /* Move up and rotate */
    opacity: 0; /* Fade out at the top */
  }
}

.deck {
  position: relative;
  top: -25%; // Start from the top of the container
  left: 3%;
}

.draw-button {
  top: 66%;
  position: absolute;
}

.button-level {
  white-space: nowrap;
}
