@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */


.home {
  &.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.heading-image-box {
    display: flex;
    flex-direction: row;
  }

  &.heading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &.button-container {
    padding-top: 20px;
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: space-between;
  }

  & h1 {
    color: white;

  }


}