@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */


.home {
  &.button-container {
    padding-top: 20px;
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: space-between;
  }
  &.heading-box {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}