@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  &.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    padding: 1.5em 2em;
    border-radius: 0.75em;
    background-color: black;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.header {

  }
  .hr-thin {
    width: 100%;
    height: 1px; /* Makes the line thinner */
    background-color: white; /* Ensures the line is visible with the desired color, optional */
    border: none; /* Removes the default border to rely on the background-color and height for the line's appearance */
    margin-bottom: 0.75em;

  }


  &.player-container {


  }

  &.user-list {
    list-style: none;
    padding-left: 0;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
  }

}