@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  &.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    padding: 1.5em 2em;
    border-radius: 0.75em;
    background-color: black;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.header {

  }
  .hr-thin {
    width: 100%;
    height: 1px; /* Makes the line thinner */
    background-color: white; /* Ensures the line is visible with the desired color, optional */
    border: none; /* Removes the default border to rely on the background-color and height for the line's appearance */
    margin-bottom: 0.75em;

  }


  &.player-container {
    display: flex;
    justify-content: center;


  }

  &.user-list {
    list-style: none;
    padding-left: 0;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
  }
  .player-video {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .video-container {
    width: 320px;
    height: 240px;
    background-color: #000;
  }

  .video-streams {
    display: flex;          // Use flexbox to align children horizontally
    justify-content: center; // Center-align the video containers
    align-items: center;    // Vertically align the video containers in the middle
    overflow-x: auto;       // Allows horizontal scrolling if many videos are present
    padding: 20px;          // Add some padding around the containers
    margin-top: 20px;       // Space above the video stream container

    .video-container {
      max-height: 100%;
      border: 2px solid black;
      background-color: #203A49;
      border-radius: 50%; /* Make the container circular */
      overflow: hidden; /* Ensure content fits within the circular shape */
      /* Adjust width and height to maintain aspect ratio */
      width: 300px; /* Example width */
      height: 300px; /* Make height equal to width for a perfect circle */
      display: flex;
      justify-content: center;
      align-items: center;

      .video-player {
        width: 100%;
        height: 100%;
        object-fit: cover;      // Cover the area without losing aspect ratio
      }
    }
  }
}