@import "../theme";

.login {
  &.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &.container {
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */

    /* benutze container nicht mehr, mixin macht nicht das was ich will*/

    @include center;
    display: flex;
    flex-direction: column;

  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 37px;
    border-radius: 0.75em;
    background-color: black;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 50px;
    border: double 1px transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, black, black), linear-gradient(to right, #FC3A87, #4235FB);
    background-clip: content-box, border-box;
    color: $textColor;
    text-indent: 10px;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
  }
  & h2 {
    font-size: 30px;
    margin: 0.1em 0;
  }
  &.pin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 30em;
    height: 15em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: black;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
}