@import "../theme";

.login {
  &.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 1000px;
  }
  &.form {
    --border-width: 1px;  // Define the width of the animated border

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    font-size: 16px;
    font-weight: 300;
    padding: 1.5em 2em;
    border-radius: calc(0.75em + var(--border-width));  // Include the border width in the border-radius
    background-color: black;
    position: relative;
    color: white;

    &::after {
      content: "";
      position: absolute;
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
                      90deg,
                      hsl(244, 96%, 60%),
                      hsl(336, 97%, 61%),
                      hsl(244, 96%, 60%),
                      hsl(336, 97%, 61%),
      );
      background-size: 500% 500%;
      background-position: 0 50%;
      border-radius: calc(0.75em + var(--border-width));  // Include the border width in the border-radius
      animation: moveGradient 15s alternate infinite;
      z-index: -1;
    }
  }

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  &.field {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &.input {
    height: 50px;
    color: $textColor;
    text-indent: 10px;
    border: double 1px white;
    border-radius: 5px;
    background-color: transparent;

    &:focus {
      border: double 0.1px transparent;
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 5px;
      background-image: linear-gradient(to right, black, black), linear-gradient(to right, #FC3A87, #4235FB);
      background-clip: content-box, border-box;
      text-indent: 10px;
    }
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
  }
  &.pin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 30em;
    height: 15em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: black;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.horizontal-line {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  &.hr-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.hr-text {
    font-size: 16px;
    font-weight: 300;
    padding-left: 7px;
    padding-right: 7px;
  }
}