@import "../theme";


.primary-button {
  &:hover {
    background-color: #cccccc;
    border-color: #cccccc;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      background-color: white;
      border-color: white;
    }
  }
  font-family: $fontButton;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  background-color: white;
  transition: all 0.3s ease;
  border: white solid 1px;
  padding: 10px 30px;
  min-width: fit-content;

  &.large {
    font-size: 1.25em;
  }

  &.extra-large {
    font-size: 2em;
  }

  &.outlined {
    background-color: transparent;
    border: white solid;
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

  }
  &.square {
    border-radius: 10px;
  }

  &.quit {
    background-color: red;
    color: white;
    border-color: red;

    &:hover {
      background-color: rgba(255, 0, 0, 0.8); /* Red with reduced opacity */
      border-color: rgba(255, 0, 0, 0.8); /* Red with reduced opacity */
    }
  }

  &.animated-gradient {
    background: linear-gradient(240deg, $pink, $lila, $lila2);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    color: white;

    &:hover {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
