@import "../theme";


.primary-button {
  &:hover {
    background-color: #cccccc;
    border-color: #cccccc;
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      background-color: white;
      border-color: white;
    }
  }
  font-family: $fontButton;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  background-color: white;
  transition: all 0.3s ease;
  border: white solid 1px;
  padding: 10px 30px;

  &.large {
    font-size: 1.25em;
  }

  &.outlined {
    background-color: transparent;
    border: white solid;
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

  }
  &.square {
    border-radius: 10px;
  }

  &.quit {
    background-color: red;
    color: white;
    border-color: red;

    &:hover {
      background-color: rgba(255, 0, 0, 0.8); /* Red with reduced opacity */
      border-color: rgba(255, 0, 0, 0.8); /* Red with reduced opacity */
    }
  }


}
