.backdrop-draw {
  position: fixed; /* or absolute, depending on your layout needs */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Optional: for visibility */
  pointer-events: none; /* Allows clicks to pass through to underlying elements */
}

.deck-draw {
  position: fixed;
  top: 35%;
  left: 25%;
  caret-color: transparent;
}

.modal-draw {
  position: fixed;
  left: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* Ensure the modal itself can be interacted with */
  background: transparent; /* Assuming a solid background for the popup */
  padding: 20px;
  border-radius: 8px;
}

.button-draw {
  position: fixed;
  top: 70%;
}
