@import "../theme";

.player-box {
  &.box {
    position: relative;
    margin-bottom: 1.5em;
    width: 320px;
    height: 50px;
    padding: 15px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, $lila, $pink2 95%);

    &.you {
      background: linear-gradient(to right, #6040ef, #7e44f1 95%);
    }
    &.clickable {
      cursor: pointer;
    }
  }


  &.empty {
    position: relative;
    margin-bottom: 1.5em;
    width: 320px;
    height: 50px;
    padding: 15px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: transparent;
    border: white solid 2px;
  }

  &.username {
    display: flex;
    align-items: center;
    height: 30px;
    overflow: hidden; // Prevents content from spilling out
    text-overflow: ellipsis; // Adds an ellipsis if the text overflows
    white-space: nowrap; // Keeps the text on a single line
    margin-left: 10px;
  }
}

.player-shame-token {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.shame-token-wrapper {
  gap: 10px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.shame-token-icon {
  flex-shrink: 0;
  margin-right: 5px; /* Adjust the spacing between icon and number */
}

.shame-token-count {
  color: white;
}




