@import "../theme";

.player-box {
  &.box {
    position: relative;
    margin-bottom: 1.5em;
    width: 320px;
    height: 50px;
    padding: 15px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, $lila, $pink2 95%);

    &:hover {
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }

  }

  &.username {
    overflow: hidden; // Prevents content from spilling out
    text-overflow: ellipsis; // Adds an ellipsis if the text overflows
    white-space: nowrap; // Keeps the text on a single line
    margin-left: 10px;
  }
}

.player-shame-token {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.shame-token-wrapper {
  gap: 10px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.shame-token-icon {
  flex-shrink: 0;
  margin-right: 5px; /* Adjust the spacing between icon and number */
}

.shame-token-count {
  color: white;
}




