/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #8c55ff;
$accentDark: #49209f;
$textColor: white;
$background: #000000;

$lila: #8F5BFF;
$lila2: #4235FB;
$pink: #fc3a87;
$pink2: #E05ACB;
$blue: rgb(66, 53, 251);
$grey: #3b3b3b;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "HelveticaNeueLTProLt";
$fontHeading: "HelveticaNeueLTProBdExO";
$fontSubHeading: "HelveticaNeueLTProBdEx"; //nicht kursiv
$fontButton: "HelveticaNeueLTProBdEx"; //nicht kursiv
$fontSubHeadingLight: "HelveticaNeueLTProEx";
$fontLight: "HelveticaNeueLTUltraLight";
/*
$fontMono: "Roboto Mono", monospace;
$fontBold: "Roboto Black";

 */

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px; // h1 was always bigger than the text inside and the text was to far up. i found no other way that to hard code the height :(
  font-family: $fontHeading;
  font-size: 7em;
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  caret-color: transparent;
}
h2 {
  font-family: $fontSubHeading;
  font-size: 2.25em;
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  caret-color: transparent;
}
h2.light {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: $fontSubHeadingLight;
  font-weight: lighter;
  caret-color: transparent;
}

h3 {
  height: 18px;
  font-family: $fontSubHeading;
  font-size: 1.1em;
  color: white;
  margin: 0;
  caret-color: transparent;
}
h3.light {
  font-family: $fontSubHeadingLight;
  font-weight: 1;
  caret-color: transparent;
}

h4 {
  height: 18px;
  font-family: $fontLight;
  font-size: 1em;
  color: white;
  margin: 0;
  caret-color: transparent;
}

p {
  font-family: $fontDefault;
  font-size: 18px;
  caret-color: transparent;
}

li {
  font-family: $fontDefault;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 5px;
  caret-color: transparent;
}



