@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./theme";


//for headings
@font-face {
  font-family: 'HelveticaNeueLTProBdExO';
  src:  url('../assets/fonts/helvetica-neue-lt-pro-2-cufonfonts/HelveticaNeueLTProBdExO.otf') format('opentype');
}
//for buttons and subheading
@font-face {
  font-family: 'HelveticaNeueLTProBdEx';
  src:  url('../assets/fonts/helvetica-neue-lt-pro-2-cufonfonts/HelveticaNeueLTProBdEx.otf') format('opentype');
}
//for text
@font-face {
  font-family: 'HelveticaNeueLTProLt';
  src:  url('../assets/fonts/helvetica-neue-lt-pro-2-cufonfonts/HelveticaNeueLTProLt.otf') format('opentype');
}


body {
  overflow: visible;
  margin: 0;
  padding: 0;
  min-width: 10vw;
  min-height: 10vh;
  font-family: 'HelveticaNeueLTProLt', sans-serif;
  background-image: url("../assets/numbers.png"), radial-gradient(circle at center, #292929, $background);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
