@import "../../theme";

.module {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  background-color: black;
  border-radius: 1vw;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  text-align: center;
}

.shamelogo-carrier {
  position: absolute;
  top: -55px; /* Adjust based on logo size */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; /* Ensure it's on top */
}

