@import "../../theme";

.backdrop-settings {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: flex; // use flex to center the modal box
  align-items: center; // center vertically
  justify-content: center; // center horizontally
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

@keyframes animatetop {
  from {
    opacity: 0;
    transform: translateY(-15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* Ensure the modal itself can be interacted with */
  background: black; /* Assuming a solid background for the popup */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid $grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: animatetop 0.4s;
}

.button-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-box {
  background: #2c2c2c;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%; /* Use percentage width for responsiveness */
  max-width: 500px; /* Optional: Limit the maximum width */
  height: auto; /* Allow height to adjust based on content */
  display: flex;
  justify-content: space-between; /* Ensure elements are spaced out */
  align-items: center;
  color: white;
  padding: 10px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  gap: 1em;
}

.settings-box p {
  margin: 0; /* Remove default margin */
  flex: 1; /* Allow the label to take available space */
  text-align: left; /* Align text to the left */
}

.toggle-wrapper {
  flex-shrink: 0; /* Prevent the toggle button from shrinking */
}




.divider {
  width: 80%;
  border: none; // Remove the default border
  height: 1px; // Make it 1px high
  background-color: white; // Set the color of the divider
  margin-bottom: 3vh;
  }

.color-picker-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.color-box {
  width: 36px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.popover {
  position: absolute;
  z-index: 1;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.reset-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.reset-button:hover {
  text-decoration: underline;
}

.divider-exit {
  width: 60%;
  border: none; // Remove the default border
  height: 1px; // Make it 1px high
  background-color: white; // Set the color of the divider
}

.button-wrapper-exit {
  display: flex;
  justify-content: space-evenly;
  width: 320px; /* its as wide as a player box*/
}






