@import "../../theme";

.card-back-row {
  display: flex;  // Align children in a row
  justify-content: center;  // Center the cards horizontally
  align-items: center;  // Align items vertically in the center
}

.card-back-img {
  width: 65px;
  height: auto;  // Maintain aspect ratio
  margin: 0 -18px;  // Space out the cards
}
